h1 {
  font-size: 24px;
  font-weight: 700;
  margin: 0 15px!important;
  padding: 20px 10px;
}

.search {
  height: 40px;
  border-radius: 16px;
  padding: 8px 12px;
  position: relative;
  margin: 0 15px;
  background-color: #F7F7F8;

  .img-search {
    position: absolute;
    top: 9px;
    left: 20px;
  }

  .btn-sort {
    position: absolute;
    outline: none;
    border: none;
    background-color: transparent;
    top: 9px;
    right: 20px;
    cursor: pointer;

    path:hover,
    path:active,
    path:focus {
      fill: #6534FF;
    }
  }

  input {
    position: absolute;
    top: 0;
    left: 20px;
    border: none;
    background-color: transparent;
    font-size: 15px;
    font-weight: 500;
    height: 40px;
    width: 80%;
    padding: 0;
    padding-left: 40px;
    outline: none;
  }

  input:focus + svg path {
    fill: #050510;
  }
}